<div>
    <h3>Editor riga catalogo bar</h3>
    <form (ngSubmit)="save()" #rigaBarForm="ngForm">
        <div>
            <label>Prezzo Articolo:</label>
            <input type="number" required [(ngModel)]="nuovaRiga.prezzo" name="prezzo">
        </div>
        <div>
            <div>
                <label>Quantità in magazzino:</label>
                <input type="number" required [(ngModel)]="nuovaRiga.quantita" name="quantita">
            </div>
        </div>
        <div>
            <label>Nome Articolo:</label>
            <input type="text" required [(ngModel)]="nuovaRiga.articolo.nome" name="nome">
        </div>
        <div>
            <label>Descrizione Articolo:</label>
            <input type="text" required [(ngModel)]="nuovaRiga.articolo.descrizione" name="descrizione">
        </div>
        <br>
        <button type="submit">salva articolo</button>
    </form>
</div>
