<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Servizi</h3>
                    <ul>
                        <li><a>Ombrelloni</a></li>
                        <li><a>Attivit&agrave;</a></li>
                        <li><a>Bar</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>Il nostro team</h3>
                    <ul>
                        <li><a>Piermichelangelo</a></li>
                        <li><a>Dieghito</a></li>
                        <li><a>Pieraglia</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>About</h3>
                    <p>Con oltre 18 anni d'esperienza il team 18 Politico ti invita a passare una magica giornata nel
                        nostro balneare Casotto. Prezzi e offerte tutti i giorni!<br>
                        Via Politico, 18 - 62032 Camerino (MC) - Italy<br>
                        Telefono +39 1818 181818 - diciotto@politico.it</p>
                </div>
                <div class="col item social"><a class="socialL"><i class="icon ion-social-facebook"></i></a><a
                        class="socialL"><i class="icon ion-social-twitter"></i></a><a class="socialL"><i
                            class="icon ion-social-snapchat"></i></a><a class="socialL"><i
                            class="icon ion-social-instagram"></i></a></div>
            </div>
            <p class="copyright">18 Politico © 2021</p>
        </div>
    </footer>
</div>