<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://www.w3schools.com/lib/w3.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">
<style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Amatic SC", sans-serif
    }
</style>

<body>
    <div id="home" class="w3-content">
        <div style="height:800px;background-image:url('assets/img/menuBar.jpg');background-size:cover;background-repeat:no-repeat;
        background-size:contain;
        background-position:center;" class="w3-display-container w3-grayscale-min">
            <div class="w3-display-bottomleft">
                <span class="w3-tag w3-xlarge">Aperti dalle 8 alle 00</span>
            </div>
            <div class="w3-display-middle w3-center">
                <button (click)="showMenu()" class="w3-button w3-xxlarge w3-black">
                    <p *ngIf="!menuButton;else chiudiMenu">Dai un'occhiata al
                        menù</p>
                    <ng-template #chiudiMenu>
                        <p>Chiudi il menù</p>
                    </ng-template>
                </button>
            </div>
        </div>



        <!-- Menu -->
        <div *ngIf="menuButton" id="menu" class="w3-container w3-black w3-xxlarge w3-padding-64">
            <h1 class="w3-center w3-jumbo w3-padding-32">IL MENU</h1>
            <div class="w3-row w3-center w3-border w3-border-dark-grey">
                <button class="w3-third w3-padding-large w3-red" (click)="selectMenuVoice(v)"
                    *ngFor="let v of menuVoices">{{v}}</button>
            </div>
            <div class="w3-container w3-white w3-padding-32">
                <div *ngFor="let r of righeBar">
                    <div *ngIf="r.valore.tipoArticoloBar===selectedMenuVoice">
                        <h1><b>{{r.valore.nome}}</b> <span
                                class="w3-right w3-tag w3-dark-grey w3-round">{{r.prezzo|currency}}</span></h1>
                        <h1><span class="w3-right w3-round"><button type="button" class="btn btn-success btn-lg"
                                    autocomplete="off" (click)="ordinaDalBar(r)">Ordina</button></span></h1>
                        <p class="w3-text-grey">{{r.valore.descrizione}}</p>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>