<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://www.w3schools.com/lib/w3.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">
<div class="container">
    <div id="home" class="w3-content">
        <div style="height:800px;background-image:url('assets/img/menuBar.jpg');background-size:cover;background-repeat:no-repeat;
        background-size:contain;
        background-position:center;" class="w3-display-container w3-grayscale-min">
            <div class="w3-display-bottomleft">
                <span class="w3-tag w3-xlarge">Aperti dalle 8 alle 00</span>
            </div>
            <div class="w3-display-middle w3-center">
                <button (click)="showMenu()" class="w3-button w3-xxlarge w3-black">
                    <p *ngIf="!menuButton;else chiudiMenu">Dai un'occhiata al
                        menù</p>
                    <ng-template #chiudiMenu>
                        <p>Chiudi il menù</p>
                    </ng-template>
                </button>
            </div>
        </div>

        <!-- Menu -->
        <div *ngIf="menuButton" id="menu" class="w3-container w3-black w3-xxlarge w3-padding-64">
            <h1 class="w3-center w3-jumbo w3-padding-32">IL MENU</h1>
            <div class="w3-container w3-white">
                <p class="w3-text-grey">Nota che questo non è un menù completo, bensì il catalogo degli articoli bar
                    attualmente disponibili.</p>
            </div>
            <div class="w3-row w3-center w3-border w3-border-dark-grey">
                <button type="button" class="w3-third w3-padding-large w3-red" (click)="selectMenuVoice(v)"
                    *ngFor="let v of menuVoices">{{v}}</button>
            </div>
            <div class="w3-container w3-white w3-padding-32">
                <h1 class="w3-center w3-jumbo w3-padding-32">{{voiceTextMenu}}</h1>
                <div *ngFor="let r of righeBar">
                    <div *ngIf="r.valore.tipoArticoloBar===selectedMenuVoice">
                        <h1><b>{{r.valore.nome}}</b> <span
                                class="w3-right w3-tag w3-dark-grey w3-round">{{r.prezzo|currency}}</span></h1>
                        <ng-template #content let-modal>
                            <div class="modal-header">
                                <h4 class="modal-title" id="modal-basic-title">Scelta ombrellone</h4>
                                <button type="button" class="btn-close" aria-label="Close"
                                    (click)="modal.dismiss('Cross click')"></button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="mb-3">
                                        <label>Seleziona l'ombrellone a cui ti verrà portata l'ordinazione:</label>
                                        <div class="input-group">

                                            <div class="list-group" align="right">
                                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                    <div fxLayout="row">
                                                        <label class="btn btn-secondary active">
                                                            <div style="display: inline-block; padding-left: 6px;"
                                                                *ngFor="let o of umbrellas">
                                                                <img *ngIf="o.valore.categoria==='STANDARD'" width="80"
                                                                    height="80" align="left"
                                                                    src="assets/img/beach-umbrella-standard.png" />
                                                                <img *ngIf="o.valore.categoria==='VIP'" width="80"
                                                                    height="80" align="left"
                                                                    src="assets/img/beach-umbrella-vip.png" />
                                                                <img *ngIf="o.valore.categoria==='PREMIUM'" width="80"
                                                                    height="80" align="left"
                                                                    src="assets/img/beach-umbrella-premium.png" />
                                                                <input type="radio" name="options"
                                                                    (click)="selectUmbrella(o.valore.codiceSpiaggia)">{{o.valore.codiceSpiaggia}}
                                                            </div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button *ngIf="isOrdinaEnabled; else disabled" type="button" class="btn btn-danger"
                                    (click)="ordinaDalBar(r,selectedUmbrella)"
                                    (click)="modal.close('Save click')">Conferma e Ordina</button>
                                <ng-template #disabled>
                                    <button disabled type="button" class="btn btn-danger"
                                        (click)="ordinaDalBar(r,selectedUmbrella)">Conferma e Ordina</button>
                                </ng-template>
                            </div>
                        </ng-template>
                        <h1><span class="w3-right w3-round">
                                <button class="btn btn-lg btn-success"
                                    (click)="openUmbrellaSelection(content)">Ordina</button></span></h1>

                        <p class="w3-text-grey">{{r.valore.descrizione}}</p>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>