<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
    integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />

<div class="container">
    <div class="row">
        <div class="col-12">
            <!-- Page title -->
            <div class="my-5">
                <h3>Il mio profilo</h3>
                <hr>
            </div>
            <!-- Form START -->
            <form class="file-upload">
                <div class="row mb-5 gx-5">
                    <!-- Contact detail -->
                    <div class="col-xxl-8 mb-5 mb-xxl-0">
                        <div class="bg-secondary-soft px-4 py-5 rounded">
                            <div class="row g-3">
                                <h4 class="mb-4 mt-0">I miei dati</h4>
                                <!-- Nome -->
                                <div class="col-md-6">
                                    <label class="form-label">Nome</label>
                                    <input type="text" class="form-control" placeholder="" aria-label="First name"
                                        value="{{loggedUser.nome}}">
                                </div>
                                <!-- Cognome -->
                                <div class="col-md-6">
                                    <label class="form-label">Cognome</label>
                                    <input type="text" class="form-control" placeholder="" aria-label="Last name"
                                        value="{{loggedUser.cognome}}">
                                </div>
                                <!-- Cellulare -->
                                <div class="col-md-6">
                                    <label class="form-label">Cellulare</label>
                                    <input type="text" class="form-control" placeholder="" aria-label="Phone number"
                                        value="{{loggedUser.cellulare}}">
                                </div>
                                <!-- Email -->
                                <div class="col-md-6">
                                    <label for="inputEmail4" class="form-label">Email</label>
                                    <input type="email" class="form-control" id="inputEmail4"
                                        value="{{loggedUser.email}}">
                                </div>
                            </div> <!-- Row END -->
                        </div>
                    </div>
                    <!-- Upload profile -->
                    <div class="col-xxl-4">
                        <div class="bg-secondary-soft px-4 py-5 rounded">
                            <div class="row g-3">
                                <h4 class="mb-4 mt-0">Aggiorna la tua foto profilo</h4>
                                <div class="text-center">
                                    <!-- Image upload -->
                                    <div class="square position-relative display-2 mb-3">
                                        <i
                                            class="fas fa-fw fa-user position-absolute top-50 start-50 translate-middle text-secondary"></i>
                                    </div>
                                    <!-- Button -->
                                    <input type="file" id="customFile" name="file" hidden="">
                                    <label class="btn btn-success-soft btn-block" for="customFile">Carica</label>
                                    <button type="button" class="btn btn-danger-soft">Elimina</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- Row END -->


                <div class="row mb-5 gx-5">
                    <!-- cambio password -->
                    <div class="col-xxl-6">
                        <div class="bg-secondary-soft px-4 py-5 rounded">
                            <div class="row g-3">
                                <h4 class="my-4">Modifica Password</h4>
                                <!-- Vecchia password -->
                                <div class="col-md-6">
                                    <label for="exampleInputPassword1" class="form-label">Vecchia password *</label>
                                    <input type="password" class="form-control" id="exampleInputPassword1">
                                </div>
                                <!-- Nuova password -->
                                <div class="col-md-6">
                                    <label for="exampleInputPassword2" class="form-label">Nuova password *</label>
                                    <input type="password" class="form-control" id="exampleInputPassword2">
                                </div>
                                <!-- Conferma password -->
                                <div class="col-md-12">
                                    <label for="exampleInputPassword3" class="form-label">Conferma Password *</label>
                                    <input type="password" class="form-control" id="exampleInputPassword3">
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- Row END -->
                <!-- button -->
                <div class="gap-3 d-md-flex justify-content-md-end text-center">
                    <button type="button" class="btn btn-danger btn-lg">Annulla</button>
                    <button type="button" class="btn btn-success btn-lg">Aggiorna Profilo</button>
                </div>
            </form> <!-- Form END -->
        </div>
    </div>
</div>