<form [formGroup]="rigaForm" (ngSubmit)="save()">
    <div formGroupName="valore">
        <h1 style="text-align:center">Aggiungi un' Attivit&agrave; al Catalogo Attivit&agrave;</h1>

        <label for="nome-attivita">Nome Attivit&agrave;: </label>
        <input class="form-control" id="nome-attivita" type="text" formControlName="nome"
            placeholder="Nome Attivit&agrave;">
        <br>
        <label for="data-inizio">Data Inizio: </label>
        <input class="form-control" id="data-inizio" type="date" formControlName="dataOrarioInizio" placeholder="date">
        <br>
        <label for="data-fine">Data Fine: </label>
        <input class="form-control" id="data-fine" type="date" formControlName="dataOrarioFine" placeholder="date">
        <br>
        <label for="descrizione">Descrizione: </label>
        <input class="form-control" id="descrizione" type="text" formControlName="descrizione"
            placeholder="Descrizione Attivit&agrave;">
    </div>
    <br>
    <label for="posti-totali">Posti Totali: </label>
    <input class="form-control" id="posti-totali" type="number" formControlName="postiTotali">
    <br>
    <label for="prezzo">Prezzo: </label>
    <input class="form-control" id="prezzo" type="number" formControlName="prezzo" placeholder="Prezzo Attivit&agrave;">
    <br>
    <button class="btn btn-success" type="submit">Salva Attivit&agrave;</button>
    <br>
</form>