<form [formGroup]="rigaForm" (ngSubmit)="save()">

    <div formGroupName="valore" >
        <h4>{{title}}</h4>
      
        <label for="nome-attvitia">Nome attivita: </label>
        <input id="nome-attvitia" type="text" formControlName="nome">
        <br>
        <label for="data-inizio">Data inizio: </label>
        <input id="data-inizio" type="date" formControlName="dataOrarioInizio">
        <br>
        <label for="data-fine">Data fine: </label>
        <input id="data-fine" type="date" formControlName="dataOrarioFine">
        <br>
        <label for="descrizione">Descrizione: </label>
        <input id="descrizione" type="text" formControlName="descrizione">
    </div>
    <br> 
    <label for="posti-disponibili">Posti disponibili: </label>
    <input id="posti-disponibili" type="number" formControlName="postiTotali">
    <br>
    <label for="posti-occupati">Posti occupati: </label>
    <input id="posti-occupati" type="number" formControlName="postiOccupati">
    <br>
    <label for="prezzo">Prezzo: </label>
    <input id="prezzo" type="number" formControlName="prezzo">
    <br>
    <button type="submit">Salva Attivita</button>
</form>

