<form [formGroup]="rigaForm" (ngSubmit)="save()">

    <div formGroupName="attivita">
        <h2>Attivita</h2>
      
        <label for="nome-attvitia">Nome attivita: </label>
        <input id="nome-attvitia" type="text" formControlName="nome-attvitia">
        <br>
        <label for="data-inizio">Data inizio: </label>
        <input id="data-inizio" type="date" formControlName="data-inizio">
        <br>
        <label for="data-fine">Data fine: </label>
        <input id="data-fine" type="date" formControlName="data-fine">
        <br>
        <label for="descrizione">Zip Code: </label>
        <input id="descrizione" type="text" formControlName="descrizione">
      </div>
      <br> 
    <label for="posti-disponibili">Posti disponibili: </label>
    <input id="posti-disponibili" type="number" formControlName="postiDisponibili">
    <br>
    <label for="prezzo">Prezzo: </label>
    <input id="prezzo" type="number" formControlName="prezzo">
    <br>
    <button type="submit">Submit</button>
</form>


<!-- <div>
    <h3>{{title}}</h3>
    <form (ngSubmit)="save()">
        <div>
            <label>Nome Attivita:</label>
            <input type="text" required [(ngModel)]="_nuovaRiga.valore.nome" name="nome">
        </div>
        <div>
            <label>Data inizio Attivita:</label>
            <input type="date" required [(ngModel)]="_nuovaRiga.valore.dataInizio" name="dataInizio">
        </div>
        <div>
            <label>Data fine Attivita:</label>
            <input type="date" required [(ngModel)]="_nuovaRiga.valore.dataFine" name="dataFine">
        </div>
        <div>
            <label>Descrizione Attivita:</label>
            <input type="text" required [(ngModel)]="_nuovaRiga.valore.descrizione" name="descrizione">
        </div>
        <div>
            <label>Prezzo Attivita:</label>
            <input type="number" required [(ngModel)]="_nuovaRiga.prezzo" name="prezzo">
        </div>
        <br>
        <button type="submit">salva attivita</button>
    </form>
</div> -->


