<app-casotto-navbar></app-casotto-navbar>
<div class="container">
    <br>
    <h1 style="text-align:center">Infrastruttura Chalet</h1>
    <div class="table">
        <table class="table table-striped" data-show-refresh="true">
            <thead>
                <tr>
                    <th>Nome Area Infrastruttura</th>
                    <th>Descrizione</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let a of aree">
                    <th class="codice">{{a.nome}}</th>
                    <td>{{a.descrizione}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>