<div>
    <h3>Editor riga catalogo ombrellone</h3>
    <form (ngSubmit)="save()" #rigaOmbrelloneForm="ngForm">
        <div>
            <label>Prezzo ombrellone:</label>
            <input type="number" required [(ngModel)]="nuovaRiga.prezzo" name="prezzo">
        </div>
        <div>
            <label>Categoria ombrellone:</label>
            <select required [(ngModel)]="nuovaRiga.ombrellone.categoria" name="categoria">
            <option *ngFor="let categoria of categorie" [value]="categoria">{{categoria}}</option>
            </select>
        </div>
        <div>
            <!--TODO: se lo deve secuperare da solo ??-->
            <label>Codice spiaggia ombrellone:</label>
            <input type="text" required [(ngModel)]="nuovaRiga.ombrellone.codiceSpiaggia" name="codiceSpiaggia">
        </div>
        <br>
        <button type="submit">salva ombrellone</button>
    </form>
</div>

<!--TODO: reactive form
<form [formGroup]="rigaForm" (ngSubmit)="save()">

    <label for="prezzo-ombrellone">prezzo ombrellone:</label>
    <input type="text" formControlName="prezzoOmbrellone">

    <div formGroupName="ombrelloneForm">
    <h4>ombrellone:</h4>

    <label for="categoriaOmbrellone">categoria: (STANDARD-VIP-PREMIUM)</label>
    <input type="text" formControlName="categoriaOmbrellone">
    TODO:fare con <data-list> Aggiungere validazione | CONTROLLA .value

    <label for="codiceSpiaggiaOmbrellone">codice spiaggia:</label>
    <input type="text" formControlName="codiceSpiaggiaOmbrellone">

</div>

    <button type="button" (click)="save()">Update Profile</button>

</form>-->

