<form [formGroup]="rigaForm" (ngSubmit)="save()">
    <div formGroupName="valore">
        <h1 style="text-align:center">{{title}}</h1>
        <label for="categoria-ombrellone">Categoria Ombrellone: </label>
        <select class="form-select" formControlName="categoria">
            <option *ngFor="let c of categorie" class="form-control" value={{c}}>{{c}}</option>
        </select>
        <br>
        <label for="codice-spiaggia">Codice Spiaggia: </label>
        <input class="form-control" id="codice-spiaggia" type="text" formControlName="codiceSpiaggia" placeholder="1">
    </div>
    <br>
    <label for="prezzo-ombrellone">Prezzo Ombrellone: </label>
    <input class="form-control" id="prezzo-ombrellone" type="number" formControlName="prezzoOmbrellone"
        placeholder="Prezzo">
    <br>
    <button class="btn btn-success" type="submit">Salva Ombrellone</button>
    <br>
</form>