<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <img src="../../assets/img/logo.png" width="40" height="40">
        <a id="titoloNav" class="navbar-brand" routerLink="/home">
            <!--funziona grazie alle guardie-->
            Casotto
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <!-- CLIENTE -->
                <li *ngIf="ruolo==='CLIENTE'" class="nav-item dropdown">
                    <div class="dropdown">
                        <a class="dropbtn nav-link dropdown-toggle" data-bs-toggle="dropdown">Ombrelloni</a>
                        <div class="dropdown-content">
                            <a role="button" class="nav-item nav-link" routerLink="./prenotazione-ombrellone">Prenota Un
                                Ombrellone</a>
                            <div class="dropdown-divider"></div>
                            <a role="button" class="nav-item nav-link" routerLink="./le-mie-prenotazioni-ombrelloni">I
                                Miei Ombrelloni</a>
                        </div>
                    </div>
                </li>
                <li *ngIf="ruolo==='CLIENTE'" class="nav-item dropdown">
                    <div class="dropdown">
                        <a class="dropbtn nav-link dropdown-toggle" data-bs-toggle="dropdown">Attivit&agrave;</a>
                        <div class="dropdown-content">
                            <a role="button" class="nav-item nav-link" routerLink="./prenotazione-attivita">Prenota
                                Un'Attivit&agrave;</a>
                            <div class="dropdown-divider"></div>
                            <a role="button" class="nav-item nav-link" routerLink="./le-mie-prenotazioni-attivita">Le
                                Mie Attivit&agrave;</a>
                        </div>
                    </div>
                </li>
                <li *ngIf="ruolo==='CLIENTE'" class="nav-item dropdown">

                    <div class="dropdown">
                        <a class="dropbtn nav-link dropdown-toggle" data-bs-toggle="dropdown">Ordinazioni Bar</a>
                        <div class="dropdown-content">
                            <a role="button" class="nav-item nav-link" routerLink="./ordinazione-bar">Ordinazione
                                Bar</a>
                            <div class="dropdown-divider"></div>
                            <a role="button" class="nav-item nav-link" routerLink="./ordinazione-bar-storico">Le Mie
                                Ordinazioni</a>
                        </div>
                    </div>

                </li>
                <!-- END-CLIENTE -->
                <!-- ADDETTO BAR -->
                <a *ngIf="ruolo==='ADDETTO_BAR'" class="nav-item nav-link"
                    routerLink="./addetto-ordinazioni">Ordinazioni
                    Bar</a>
                <!-- END-ADDETTO-BAR -->
                <!-- GESTORE -->
                <li *ngIf="ruolo==='GESTORE'" class="nav-item dropdown">

                    <a class="dropbtn nav-link dropdown-toggle" data-bs-toggle="dropdown">Gestione Cataloghi</a>
                    <div class="dropdown-content">
                        <div class="dropdown-divider"></div>
                        <a role="button" class="nav-item nav-link" routerLink="./catalogo-bar">Catalogo Bar</a>
                        <div class="dropdown-divider"></div>
                        <a role="button" class="nav-item nav-link" routerLink="./catalogo-attivita">Catalogo
                            Attivit&agrave;</a>
                        <div class="dropdown-divider"></div>
                        <a role="button" class="nav-item nav-link" routerLink="./catalogo-ombrelloni">Catalogo
                            Ombrelloni</a>
                    </div>
                </li>
                <!-- END-GESTORE -->
                <!-- CASSIERE -->
                <a *ngIf="ruolo==='CASSIERE'" class="nav-item nav-link" routerLink="./cassiere-home">Salda Vendita</a>
                <!-- END-CASSIERE -->
                <!-- LOGGED USER -->
                <a *ngIf="ruolo!='CLIENTE' && ruolo!='CASSIERE' && ruolo !=null" class="nav-item nav-link"
                    routerLink="./notifica">Notifiche</a>

                <!-- END-LOGGED USER -->
            </div>
            <div class="navbar-nav ms-auto">
                <!-- LOGGED USER -->
                <li class="nav-item dropdown" *ngIf="ruolo !== null; else notLogged">
                    <a class="dropbtn nav-link dropdown-toggle" data-bs-toggle="dropdown">{{nome}}</a>
                    <div class="dropdown-content">
                        <a role="button" class="nav-item nav-link" routerLink="./profilo">Profilo</a>
                        <div class="dropdown-divider"></div>
                        <a role="button" class="nav-item nav-link" (click)="onLogout()">Logout<span
                                class="sr-only"></span></a>
                    </div>
                </li>
                <!-- END-LOGGED USER -->
                <!-- UNLOGGED USER -->
                <ng-template #notLogged>
                    <a routerLink="/login" class="nav-item nav-link">Login</a>
                </ng-template>
                <!-- END-UNLOGGED USER -->
            </div>
        </div>
    </div>
</nav>