<app-casotto-navbar></app-casotto-navbar>
<router-outlet></router-outlet>
<div class="container">
    <h2 style="text-align:center">18Politico Team</h2>
    <div class="row" style="width: 100%; justify-content: center;">
        <div class="column">
            <div class="card">
                <img src="../../assets/img/piero.jpg" alt="Jane" style="width:100%;height: 400px;">
                <div class="container">
                    <h2>Piero</h2>
                    <p class="title">CEO & Founder</p>
                    <p>piero.hierro1@gmail.com</p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="../../assets/img/pier.jpg" alt="Mike" style="width:100%;height: 400px;">
                <div class="container">
                    <h2>Piermuz</h2>
                    <p class="title">CEO & Founder</p>
                    <p>piermichele.rosati@studenti.unicam.it</p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="../../assets/img/diego.png" alt="John" style="width:100%" height="400px">
                <div class="container">
                    <h2>Diego</h2>
                    <p class="title">CEO & Founder</p>
                    <p>diegoan.belardinelli@studenti.unicam.it</p>
                </div>
            </div>
        </div>
    </div>
</div>
<app-casotto-footer></app-casotto-footer>