<div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div>
        <img src="../../assets/img/mare16.jpg">
        </div>
      </div>
      <div class="col ">
        <h1 style="text-align: center;">Orario di Apertura</h1>
        <p style="text-align:center;"> dalle 8:00 alle 20:00 dal Lunedì al Sabato</p>
        <h1 style="text-align: center;">Contatti</h1>
        <p style="text-align:center;"> +39 181818 segreteria</p>
        <p style="text-align:center;"> +39 696969 gestore</p>
        <h1 style="text-align: center;">Indirizzzo</h1>
        <p style="text-align:center;"> Via Politico, 18 - 62032 Camerino (MC) - Italy</p>
      </div>
    </div>
  </div>