<div class="container">
    <br>
    <div class="row">
        <div class="col text-center">
            <h1>Ordinazioni Bar:
                <p *ngIf="selectedButton=='' || selectedButton==statusButtons[0]" style="display:inline;color:red">
                    {{selectedButton}}</p>
                <p *ngIf="selectedButton=='' || selectedButton==statusButtons[1]" style="display:inline;color:orange">
                    {{selectedButton}}</p>
                <p *ngIf="selectedButton=='' || selectedButton==statusButtons[2]" style="display:inline;color:green">
                    {{selectedButton}}</p>
            </h1>
            <button class="btn btn-danger m-1" (click)="selectStatus(statusButtons[0])">{{statusButtons[0]}}</button>
            <button class="btn btn-warning m-1" (click)="selectStatus(statusButtons[1])">{{statusButtons[1]}}</button>
            <button class="btn btn-success" (click)="selectStatus(statusButtons[2])">{{statusButtons[2]}}</button>
        </div>
    </div>
    <br>
    <div class="table">
        <table class="table" data-show-refresh="true">
            <thead>
                <tr class="table-danger">
                    <th>Nome Articolo Bar</th>
                    <th>Codice Spiaggia</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-primary" *ngFor="let o of ordinazioniBar">
                    <td>{{o.articoloBar.nome}}</td>
                    <td>{{o.codiceSpiaggia}}</td>
                    <td>
                        <button type="button" class="btn btn-success" autocomplete="off" (click)="prendiInCarico(o)"
                            *ngIf="selectedButton===statusButtons[0]">Prendi
                            In Carico</button>
                        <button type="button" class="btn btn-success" autocomplete="off" (click)="consegna(o)"
                            *ngIf="selectedButton===statusButtons[1]">Consegna</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>