<div class="container">
    <br>
    <h1 style="text-align:center">Catalogo Attivit&agrave; Disponibili</h1>
    <div class="table">
        <table class="table table-striped" data-show-refresh="true">
            <thead>
                <tr>
                    <th>Nome Attivit&agrave;</th>
                    <th>Descrizione</th>
                    <th>Inizio</th>
                    <th>Fine</th>
                    <th>Prezzo</th>
                    <th>Posti Totali</th>
                    <th>Posti Disponibili</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let r of righeAttivita">
                    <th class="codice">{{r.valore.nome}}</th>
                    <td>{{r.valore.descrizione}}</td>
                    <td>{{r.valore.dataOrarioInizio | date:'dd EEEE MMMM yyyy'}}</td>
                    <td>{{r.valore.dataOrarioFine | date:'dd EEEE MMMM yyyy'}}</td>
                    <td>{{r.prezzo | currency}}</td>
                    <td>{{r.postiTotali}}</td>
                    <td>{{r.postiTotali-r.postiOccupati}}</td>
                    <td>
                        <button type="button" class="btn btn-outline-success btn-sm" autocomplete="off"
                            (click)="prenotaAttivita(r)">Prenota</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>