<div>
<h2>{{title}}</h2>
<ul>
    <li *ngFor="let riga of righe ">
        <mark><em>Nome Attivita:</em></mark> {{riga.valore.nome}} - 
        <mark><em>Data Inizio Attivita:</em></mark> {{riga.valore.dataOrarioInizio}} - 
        <mark><em>Data Fine Attivita:</em></mark> {{riga.valore.dataOrarioFine}} - 
        <mark><em>Descrizione Attivita:</em></mark> {{riga.valore.descrizione}} - 
        <mark><em>Prezzo Attivita:</em></mark> €{{riga.prezzo}}
        <button type="button" (click)="eliminaRiga(riga)">rimuovi</button>
    </li>
</ul>
 <app-riga-attivita-editor (rigaAggiunta)="rigaAttivitaAggiunta($event)"></app-riga-attivita-editor>
</div>