<div class="container">
    <br>
    <h1 style="text-align:center">Catalogo Attivit&agrave;</h1>
    <div class="table">
        <table class="table table-striped" data-show-refresh="true">
            <thead>
                <tr>
                    <th>Nome Attivit&agrave;</th>
                    <th>Data Inizio Attivit&agrave;</th>
                    <th>Data Fine Attivit&agrave;</th>
                    <th>Descrizione Attivit&agrave;</th>
                    <th>Posti Totali</th>
                    <th>Posti Disponibili</th>
                    <th>Prezzo Attivit&agrave;</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let riga of righe">
                    <td>{{riga.valore.nome}}</td>
                    <td>{{riga.valore.dataOrarioInizio | date:'dd EEEE MMMM yyyy'}}</td>
                    <td>{{riga.valore.dataOrarioFine | date:'dd EEEE MMMM yyyy'}}</td>
                    <td>{{riga.valore.descrizione}}</td>
                    <td>{{riga.postiTotali}}</td>
                    <td>{{riga.postiTotali - riga.postiOccupati}}</td>
                    <td>{{riga.prezzo | currency}}</td>
                    <td><button class="btn btn-lg btn-outline-danger" type="button"
                            (click)="eliminaRiga(riga)">Rimuovi</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <app-riga-attivita-editor (rigaAggiunta)="rigaAttivitaAggiunta($event)"></app-riga-attivita-editor>
</div>